{% extends "layout.html" %}
{% block content %}
<script>
  function openPopover() {
    document.getElementById('submittingpopover').style.display = 'block';
    document.getElementById('submittingpopoverbackdrop').style.display = 'block';
  }
</script>
<form action="/upload" method="post" enctype="multipart/form-data">
  Choose a video file (*.mp4): <input type="file" name="input_file" required>
  <br>
  Generative Model to use: <select name="model_name">
    <option selected>gemini-1.5-pro-preview-0514</option>
    <option>gemini-2.0-flash-001</option>
  </select>
  <br>
  <input type="submit">
</form>
{% endblock %}