<!doctype html>
<title>{% block title %}{% endblock %} - Autologger</title>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<style>
  /* style overrides */
  body,
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 2em;
    margin-bottom: 0em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.25em;
  }
</style>
<header>
  <img src="{{ url_for('static', filename='header.png') }}">
  <div>
    ⚠️ EXPERIMENTAL -- @davidstanke is experimenting with turning autologger into a web service; this web page will be
    the UI
  </div>
</header>
<nav>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</nav>
<main>
  <form action="/upload" method="post" enctype="multipart/form-data">
    Choose a video file (*.mp4): <input type="file" name="input_file">
    <br>
    GCP project with VertexAI enabled: <input type="text" name="gcp_project" required value="cpet-stanke-sandbox">
    <br>
    GCS storage bucket for intermediate artifacts: <input type="text" name="gcs_bucket" required value="autologger">
    <br>
    Generative Model to use: <select name="model_name">
      <option selected>gemini-1.5-pro-preview-0514</option>
      <option>gemini-2.0-flash-001</option>
    </select>
    <br>
    <input type="submit"> <em>(it may take a while!)</em>
  </form>
</main>