<!doctype html>
<title>{% block title %}{% endblock %} - Autologger</title>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<style>
  /* style overrides */
  body, main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
  }
  
  h1, h2, h3, h4, h5 {
    margin-top: 2em ;
    margin-bottom: 0em ;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.25em;
  }

  .raw_markdown {
    font-family:'Courier New', Courier, monospace;
    overflow-y: scroll;
    max-height: 40em;
    background-color:lightgreen;
    padding:1rem;
    border:1px solid green;
    white-space: pre;
  }
</style>
<nav>
  <h1>Autologger</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
</nav>
<main>
  Processing file...
  <div>
    Source file: <pre>{{source_video_file}}</pre>
  </div>
  <div>
    Media in Google Drive:
    <ul>
      <pre>
        {{uploaded_media}}
      </pre>
    </ul>
  </div>
  <h2>Friction log (markdown)</h2>
  <div class="raw_markdown">
    {{friction_markdown}}
  </div>
</main>